#include <physical_layouts.dtsi>

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  106       0     0     0>
            , <&key_physical_attrs 100 100  100   35       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   39       0     0     0>
            , <&key_physical_attrs 100 100  400   53       0     0     0>
            , <&key_physical_attrs 100 100  893   53       0     0     0>
            , <&key_physical_attrs 100 100  993   39       0     0     0>
            , <&key_physical_attrs 100 100 1093    0       0     0     0>
            , <&key_physical_attrs 100 100 1193   35       0     0     0>
            , <&key_physical_attrs 100 100 1293  106       0     0     0>
            , <&key_physical_attrs 100 100    0  206       0     0     0>
            , <&key_physical_attrs 100 100  100  135       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  139       0     0     0>
            , <&key_physical_attrs 100 100  400  153       0     0     0>
            , <&key_physical_attrs 100 100  893  153       0     0     0>
            , <&key_physical_attrs 100 100  993  139       0     0     0>
            , <&key_physical_attrs 100 100 1093  100       0     0     0>
            , <&key_physical_attrs 100 100 1193  135       0     0     0>
            , <&key_physical_attrs 100 100 1293  206       0     0     0>
            , <&key_physical_attrs 100 100    0  306       0     0     0>
            , <&key_physical_attrs 100 100  100  235       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  239       0     0     0>
            , <&key_physical_attrs 100 100  400  253       0     0     0>
            , <&key_physical_attrs 100 100  893  253       0     0     0>
            , <&key_physical_attrs 100 100  993  239       0     0     0>
            , <&key_physical_attrs 100 100 1093  200       0     0     0>
            , <&key_physical_attrs 100 100 1193  235       0     0     0>
            , <&key_physical_attrs 100 100 1293  306       0     0     0>
            , <&key_physical_attrs 100 100  267  356       0     0     0>
            , <&key_physical_attrs 100 100  379  372    1500   429   422>
            , <&key_physical_attrs 100 100  493  390    3000   543   440>
            , <&key_physical_attrs 100 100  800  390 (-3000)   850   440>
            , <&key_physical_attrs 100 100  914  372 (-1500)   964   422>
            , <&key_physical_attrs 100 100 1026  356       0     0     0>
            ;
    };
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};